# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom File Extensions
*.sln
*.cs
*.config
*.csproj
*.csproj.user
*.suo
*.cache
*.dll
Mustang-Modal/Mustang-Modal/bin/Mustang-Modal.pdb
*.transform
Mustang-Modal/packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
*.pdb
Mustang-Modal/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
*.xml
Mustang-Modal/packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
*.psd1
Mustang-Modal/packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
*.ps1
Mustang-Modal/packages/EntityFramework.5.0.0/tools/migrate.exe
*.nupkg
WebApplication1/packages/bootstrap.3.0.1/content/Content/bootstrap-theme.css
WebApplication1/packages/bootstrap.3.0.1/content/Content/bootstrap-theme.min.css
*.eot
WebApplication1/packages/bootstrap.3.0.1/content/fonts/glyphicons-halflings-regular.svg
*.ttf
WebApplication1/packages/bootstrap.3.0.1/content/fonts/glyphicons-halflings-regular.woff
WebApplication1/packages/bootstrap.3.0.1/content/Scripts/bootstrap.js
