.mustang-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9991;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    padding-bottom: 25px;
}

.mustang-modal {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 17px;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -350px;
    background: white;
    box-shadow: 0 7px 23px 1px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 7px 23px 1px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 7px 23px 1px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
    max-width: 700px;
    outline: 0;
    overflow: hidden;
}

.mustang-modal-title {
    padding: 4px 14px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.mustang-modal-body {
    position: relative;
    padding: 21px 19px 21px 19px;
    overflow-y: auto;
    font-size: 14px;
    min-height: 50px;
}

.mustang-modal-buttons {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

#mustang-modal-bg {
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9990;
}

.mustang-modal-close {
    float: right;
    margin-right: 7px;
    margin-top: 2px;
    font-size: 15px;
    position: relative;
    z-index: 1;
}

.messageBoxButtons {
    bottom: 0;
    position: relative;
    right: 0;
    width: 100%;
}

.mustang-modal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}


@media screen and (max-width: 479px) {

    .mustang-modal {
        width: 450px;
        left: 50%;
        margin-left: -225px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {

    .mustang-modal {
        width: 320px;
        margin-left: -160px;
    }
}

@media screen and (min-width: 375px) and (max-width: 509px) {

    .mustang-modal {
        width: 375px;
        margin-left: -187.5px;
    }
}

@media screen and (min-width: 510px) and (max-width: 767px) {

    .mustang-modal {
        width: 510px;
        left: 50%;
        margin-left: -255px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .mustang-modal {
        width: 768px;
        margin-left: -384px;
    }
}